*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../img/17973908.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 400px;
    margin: 10px;
}

form{
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: center;
    
}

input{
    margin: 15px;
    text-align: center;
    height: 40px;
    color: rgb(136, 136, 136);
    border: none;
    font-weight: 100;
    font-size: 18px;
}

input[type=submit]{
    padding: 0px;
    grid-column: 1/3;
    justify-self: center;
    width: 180px;
    height: 50px;
    color: #fff;
    background-color: #2196F3;
    font-weight: 500;
    border-radius: 7px;
}

input[type=submit]:hover{
    background-color: #1c82d6;
}

a{
    text-align: center;
    text-decoration: none;
    color: #2196F3;
}

a:hover{
    color: rgb(201, 201, 201);
}

#login{
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#errorCredenciales {
    color: red;
    text-align: center;
    margin-top: 10px; /* Ajusta según sea necesario */
    grid-column: 1/3; /* Para que ocupe todo el ancho del formulario */
}



#imagen{
    text-align: center;
}

#enlace{
    text-align: center;
}



/* Footer */
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #2196F3;


    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1;
}

.language-selector {
    display: flex;
}

.language-selector a {
    text-decoration: none;
    color: #2196F3; /* Color de texto */
    margin: 0 40px; /* Espacio entre los enlaces */
    font-size: 16px; /* Tamaño del texto */
}