/* Suscripciones */
.suscriptions {
    padding: 70px;
}

.suscription-container {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border-top: 3px solid transparent;
    position: relative;
    align-items: center;
}

.suscription-container:hover{
    border-top: 3px solid #2196F3;
    background-color: #ffffffea;
    transition: all 500ms easy;
}

.suscription-container h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
}

.suscription-container #descripcion {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
}

.suscription-container .time {
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* Estilos para el ícono de información */
}

.switch-container #owner {
    margin-top: 15px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}


.switch-container .eliminar{
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}


#btn-unsuscribe{
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    border: none;
    background-color: #e4e4e4;
    color: #afafaf;
    font-weight: 400;
    font-size: 18px;
}

#btn-unsuscribe:hover{
    background-color: #ffa8a8;
    color: #222222;
}

