/* Switch */
.switches {
    padding: 70px;
}

.switch-container {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border-top: 3px solid transparent;
    position: relative;
    align-items: center;
}

.switch-container:hover{
    border-top: 3px solid #2196F3;
    background-color: #ffffffea;
    transition: all 500ms easy;
}

.switch-container h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
}

.switch-container #descripcion {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
}

.switch-container .time {
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* Estilos para el ícono de información */
}

.switch-container .uris {
    margin-top: 15px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.switch-container .interruptor {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end;
}

.switch-container .eliminar{
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}


#btn-eliminar{
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    border: none;
    background-color: #e4e4e4;
    color: #afafaf;
    font-weight: 400;
    font-size: 18px;
}

#btn-eliminar:hover{
    background-color: #ffa8a8;
    color: #222222;
}



/*Botones para cambair el estado*/
.switch-container .cambiarEstado{
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.btn-cambiarEstado{
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    border: none;
    background-color: #e4e4e4;
    color: #afafaf;
    font-weight: 400;
    font-size: 18px;
}

#btn-apagar:hover{
    background-color: #ffa8a8;
    color: #222222;
}

#btn-encender:hover{
    background-color: #acffcc;
    color: #222222;
}


/* Icons */
.fa-circle-info, .fa-bars{
    color: #2196F3;
}



/* Estilos para la ventana modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fff; /* Fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    max-width: 700px; /* Ancho máximo */
    width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2196F3;
    
}

.modal-body {
    padding: 20px;
    text-align: center;
}


.close-button {
    cursor: pointer;
}


input[id="tiempo"] {
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    color: #3d3d3d;
    background-color: #e4f3fac2;
    border: none;
    border-top: solid 3px transparent;
    width: 60%;
    height: 50px;
}

input[id="tiempo"]:hover {
    border-top: solid 3px #2196F3;
}


button[id="confirmarTiempo"] {
    padding: 10px 20px; /* Ajusta el padding según tus preferencias */
    margin: 20px;
    font-size: 20px;
    border: none;
    border-top: solid 3px transparent;
    color: #3d3d3d;
    background-color: #f8f8f8a6;
    width: auto;
    height: 50px;
}

button[id="confirmarTiempo"]:hover {
    color: #636363;
    border-top: solid 3px #2196F3;
    background-color: #f8f8f8;
}



