/* Nueva sección de estilos para el cuerpo dividido en dos partes */
.main-content {
    background-color: rgba(255, 255, 255, 0.801);
    margin-top: 80px;
    display: flex;
    min-height: 100vh;
    z-index: 0;
}

.switches {
    flex: 70%;
    padding: 70px;
}

.suscripciones {
    flex: 30%;
    padding: 70px;
    border-left: 2px solid transparent;
}

.suscripciones:hover{
    border-left: 2px solid rgba(216, 233, 255, 0.651);
    background-color: rgba(255, 255, 255, 0.747);
    transition: all 400ms easy;
}  


/* Switch */
.switch-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 85% auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border-top: 3px solid transparent;
    position: relative;
    align-items: center;
}

.switch-container:hover{
    border-top: 3px solid #2196F3;
    background-color: #ffffffea;
    transition: all 500ms easy;
}

.switch-container h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
}

.switch-container p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
}

.switch-container .icon-info {
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* Estilos para el ícono de información */
}



/*Botones para cambair el estado*/
.switch-container .cambiarEstado{
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.btn-cambiarEstado{
    margin-top: 20px;
    padding: 10px 20px;
    width: 120px;
    border: none;
    background-color: #e4e4e4;
    color: #afafaf;
    font-weight: 400;
    font-size: 18px;
}

#btn-apagar:hover{
    background-color: #ffa8a8;
    color: #222222;
}

#btn-encender:hover{
    background-color: #acffcc;
    color: #222222;
}


h2{
    margin-bottom: 20px;
    font-weight: 500;
    color: #2196F3;
    background-color: #ccccccb4;
    padding: 4px;
}

/* Suscripcion */
.suscripcion-container {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    border: 1px solid transparent;
    position: relative;
    align-items: center;
}


.suscripcion-container:hover {
    border: 1px solid #ccc;
}

.suscripcion-container h3{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
}


.suscripcion-container #propietario{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    font-size: 16px;
}

.suscripcion-container .estado{
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0;
    font-size: 12px;
    justify-self: end;
    align-self: flex-end;
}

.suscripcion-container #encendido{
    color:#4CAF50;
}

.suscripcion-container #apagado{
    color:#ff2d2d;
}

/* Icons */
.fa-circle-info, .fa-bars{
    color: #2196F3;
}

