<div class="container-language">
	<div class="language-selector">
    <a href="#{{currentPage}}" id="englishlink">{{i18n 'English'}}</a>
    <a href="#{{currentPage}}" id="spanishlink">{{i18n 'Spanish'}}</a>			
	</div>
</div>