<div>
<header>
  <h1>Binarify</h1>
  <nav id="menu">
    <ul>
      <li><a href="#switchs">{{i18n 'Switches'}}</a></li>
      <li><a href="#suscriptions">{{i18n 'Suscriptions'}}</a></li>
      <li>
        <div id="userbar">Loading...</div>
      </li>
    </ul>
  </nav>

</header>

<!-- router contents -->
<main id="maincontent">Loading...</main>


<footer>
  <div id="languagecontrol">Loading...</div>
</footer>
</div>
