<div>
    <div id="modal-container">
        <div class="modal">
            <div class="modal-header">
                <span class="close-button">&times;</span>
                <h2>{{i18n 'Encender Switch'}}</h2>
            </div>
            <div class="modal-body">
                <div id="time-form">
                    <div id="time-label">{{i18n 'Time'}} (min):</div>
                    <input type="number" id="autoOffTime" name="timeOff" required>
                    <input id="saveTime" type="submit" value="{{i18n 'Confirm'}}">
                </div>
            </div>
        </div>
    </div>
</div>
