<div style="background-color: transparent;">
    <div id="registro">
        <div id="imagen">
            <img id="register-img" src="/spabinarify/front/img/binarify.png" alt="Binarify">
        </div>

        <div id="register-form">
            
            <div id="div-register-user"><input class="register-input" type="text" name="username" id="registerusername" placeholder="{{i18n 'Username'}}" required></div>
            <div id="div-register-contraseña"><input class="register-input" type="password" name="passwd" id="registerpassword" placeholder="{{i18n 'Password'}}" required></div>
            <div id="div-register-correo"><input class="register-input" type="email" name="email" id="email" placeholder="example@gmail.com"></div>
            
            <div id="div-register-boton"><input class="register-input" type="submit" id="registerbutton" name="boton" value="{{i18n 'Register'}}"></div>

            <div id="div-register-enlace">
                <a id="enlace-login" href="#login">{{i18n 'Log in'}}</a>
            </div>
            
        </form>
    </div>
</div>